#main-heading {
  text-align: center;
}

.centered-text {
  text-align: center;
}

.wrapper {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.column {
  float: left;
  padding: 10px;
  width: 35%;
}

.column-heading {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}