body {
  background-color: #0A2647;
  color:lightgray;

}

#main-heading {
  text-align: center;
}

.centered-text {
  text-align: center;
}

.border-properties {
  /* border: 1px solid; */
  margin-left: 1%;
  margin-right: 2%;
  padding: 2px;
  background-color: #144272;
}

.wrapper {
  display: block;
  width: 100%;
  margin: 20px auto 50px auto;
  box-sizing: border-box;
  overflow: hidden;
  /* border: solid; */
}

.column {
  float: left;
  margin: 1%;
  padding: 10px;
  width: 31%;
  border: 1px solid #144272;
  border-width: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(59, 59, 59);
}

.column-heading {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}

/*NOTE: The objectives only require use of the <ol> tag. There are no instructions preventing the modification of the tag to remove the numbering.*/
ol.stripped-style {
  list-style: none;
}